<h1>About the app</h1>

<div class="container">
    <div class="block" id="purpose">
        <h3>Purpose</h3>
        <p>
            Chikin fills the gap between twitter and LinkedIn. Chikin is not intended for annonimity and unlimited free speech.
            Chikin is simply intended to be a more focused tool for social-based learning and development amongst the tech community.
        </p>
    </div>

    <div class="block" id="posts">
        <h3>Posts</h3>

        <p>Chickin posts are broken up into 2 categories.</p>
        <li><strong>Nuggets:</strong> These are bits of wisdom (i.e. TIL..., Quick tips, etc.).</li>
        <li><strong>Eggs:</strong> These are where we can share our own mistakes that others can learn from as we have.</li>
    </div>
    <div class="block" id="chikinocracy">
        <h3>Chikinocracy</h3>

        <p>Chikin's primary differentiator is that the site's moderation is entirely democratic. </p>
        <ul>
            <li>First, Chikin is invite only and users are attributed to those that invited them.</li>
            <li>Second, Chikin users will be able to open a vote for removal on any post or user. This will open a discussion specific to this event where the user initiating the vote can make their case and other users can have open dialog on the matter. Then the community will have 24 hours to decide whether that content or user should be removed using a simple yes/no vote.</li>
        </ul>
    </div>
</div>